@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{margin: 0%; padding: 0%; box-sizing: border-box;}

.dark-theme{
    --bg-color: #333;
    --text-color: #fff;
    --main-color: #333;
}

.light-theme{
    --bg-color: #fff;
    --text-color: #333;
    --main-color:  #D9EDFF;
}

.fa-camera-retro{
    color: var(--text-color);
}

.fa-question-circle-o{
    color: var(--text-color);
}

.table{
    background: var(--bg-color);
    color: var(--text-color);
}

.form-header{
    max-width: 100%;
}

.form-header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-header ul li{
    list-style: none;
}

.form-header ul li a{
    text-decoration: none;
    color: #333;
    margin: 0px 18px;
    font-size: 12px;
}

.form-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.form-head button{
    width: 133.58px;
    height: 37.11px;
    top: 110px;
    left: 1283px;
    border-radius: 5px;
    background: rgb(67, 67, 222);
    color: #fff;
}

.form-head h2{
    width: 410px;
    height: 26px;
    left: 295px;
    font-family: Objectivity;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color);
}

.form-group label {
    /* display: block; */
    font-size: 12px;
    color: var(--text-color);
}

.form-group input {
    /* width: 180%; */
    background: #efeeee;
    height: 25px;
} 

.button-f{
    display: flex;
    margin: 10px 10px;
    position: relative;
}

.button-f .btn-3{
    align-items: left;
    right: 0px;
    position: absolute;
    background:blue;
    color: #fff;
    width: 133.58px;
    height: 37.11;
    padding: 10px;
    border-radius: 5px;
}

.button-f button{
    font-size: 15px;
    margin: 0px 10px;
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 0.8rem;
    background: #fff;
    border-radius: 10px;
    width: 133.58px;
    height: 37.11;
}

.button-f .btn-1{
    background: rgb(67, 67, 222);
    color: #fff;
}

.middle-accordian{
    margin: 10px 0px;
    box-shadow: 10px 3px 10px  gray;
    border-radius: 50px;
}

.last-accordian{
    box-shadow: 10px 3px 10px  gray;
}

.first-accordian{
    box-shadow: 10px 3px 10px  gray;
    margin-top: 10px;
}

.Accbody{
    background: var(--bg-color);
    padding: 10px;
}

.form-group input{
    background: #D9EDFF;
}

.Accitem{
    background: var(--main-color);
}

.form-data{
   display: flex;
   height: 100vh; 
   align-items: stretch;
   overflow-x: hidden;
   position: relative;
}

.form-head .smalll{
    font-size: 17px;
}

.Acc-from{
    flex: 1;
    margin-left: 219px;
    height: 100vh;
    background: var(--bg-color)
}

.logo{
    top: 0px;
}

.fa{
    padding-left: 10px;
}

.grid1{
    width: 250px;
    height: 100%;
    background-color: aqua;
}

input.invalid {
  background-color: #ffdddd;
}

button{
  color: #333;
  border: 1px solid black;
}

.formnav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 75px;
}

.formnav1 a{
  text-decoration: none;
  color: #333;
}

.acbtns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn{
  background: #fff;
  margin: 10px 0px;
}

/* Navbar Start */

.navbar11{
    width: 100%;
    height: 83px;
    /* left: 271px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: var(--bg-color);
    color: var(--text-color);
}

.fa-bell-o{
    position: absolute;
    padding-top: 13px;
    padding-right: 200px;
    font-size: 20px;
    color: var(--text-color);
}


#chk1{
    display: none;
    color: #333;
}

i{
    color: var(--bg-color);
    cursor: pointer;
}

.navbar11 .search-box{
    flex: 1;
    position: relative;
    top: 10px;
    height: 45px;
    border-radius: 5px;
    /* margin-left: 15px; */
}

.navbar11 .search-box ::placeholder{
    background:  #D9EDFF;
    padding-right: 175px;
}

.text{
    flex: 2;
    margin-left: 250px;
    position: relative;
}

.text2 p{
    margin: -2px 0px;
    color: var(--text-color);
}

.text3 img{
    Width: 43px;
    Height: 43px;
    Top: 22px;
    Left: 1371px;
}

.text2{
    margin-right: 20px;
}

.text3{
    margin-right: 20px;
}

.search-box .fa-search{
    align-self: center;
    padding: 6px 20px;
    position: absolute;
    color: #333;
}

.button-f .btn-1{
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
}

.search-box{
    width: 100%;
    border-radius: 5px;
}

.search-box input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    color: gray;
    text-align: center;
    background: #D9EDFF;
    
}

.navbar11 ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    top: 10px;
    position: relative;

}

.navbar11 .menu{
    font-size: 2.5em;
    display: none;
    color: var(--main-color);
}

/* Responsive Media  */
@media(max-width: 1000px){
    .navbar11 ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background-color: var(--bg-color);
        height: calc(100vh -100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        z-index: 99;
    }

    .navbar11{
        color: var(--bg-color);
    }

    .navbar11 .text{
        width: 100%;
        z-index: 1;
        margin-right: -110px;
    }

    .navbar11 .menu{
        display: block;
        width: 50px;
        height: 50px;
        color: var(--text-color);
        text-align: center;
    }

    .fa-bell-o{
        margin-right: -30px;
        padding-bottom: 100px;
    }

    #chk1:checked ~ ul{
        right: 0;
        z-index: 1;
        color: var(--text-color)
    }

}

@media(max-width: 600px){
    .navbar11 ul{
        width: 100%;
        z-index: 99;
    }

    .navbar11 ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background-color: var(--bg-color);
        height: calc(100vh -100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        z-index: 99;
    }

    .navbar11{
        color: var(--bg-color);
    }

    .navbar11 .text{
        width: 100%;
        margin-right: 40px;
        z-index: 1;
    }

    .fa-bell-o{
        margin-right: -100px;
        padding-bottom: 100px;
    }

    .navbar11 .menu{
        display: block;
        width: 50px;
        height: 50px;
        color: var(--text-color);
        text-align: center;
       
    }

    #chk1:checked ~ ul{
        right: 0;
        z-index: 1;
        color: var(--text-color)
    }

    .search-box{
        width: 50%;
        height: auto;
    }

    .Accitem{
        width: 100%;
    }

}

@media(max-width: 450px){
    .fa-bell-o{
        margin-left: 50px;
        padding-bottom: 100px;
    }

    .navbar11 .text{
        /* width: 100%; */
        z-index: 1;
        padding-right: 150px;
    }

    .navbar11 ul{
        z-index: 99;
    }

}


/* Navbar End */

/*Switch button*/

.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0px 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display: none;}

.slider::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 15px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: blue;
}

input:checked + .slider::before{
    transform: translateX(17px);
}

/*Switch button Navbar */

.switchh{
    position: relative;
    top: 7px;
    width: 60px;
    height: 30px;
}

.sliders{
    position: absolute;
    cursor: pointer;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switchh input {display: none;}

.sliders::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 25px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .sliders{
    background-color: #D9EDFF;
}

input:checked + .sliders::before{
    transform: translateX(25px);
}

/* Side Menu Bar*/
.header{
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
.imgic { 
    padding-top: 125px;
    z-index: 2;
  }
  
.imgic img{
    display: block;
    margin: 20px 10px;
    /* z-index: 2; */
    width: 15px;
    height: 19.5px;
    top: 221px;
    left: 19px;
    border: 2px solid #D9EDFF;
    color: blue;
    cursor: pointer;
}

.imgic a{
    color: #D9EDFF;
}

.sideline .fa-bars{
    color: #333;
}

.imgic2{
    padding-top: 100px;
}

#menu{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 5px;
    top: 22px;
    cursor: pointer;
    z-index: 2;
    padding: 10px, 16px, 10px, 16px;
    border-radius: 10px;
    gap: 10px;
}
  
#sidemenu{
    padding: 125px 0px;
    position: absolute;
    /* width: 277px; */
    height: 100vh;
    top: 0%;
    left: 50px;
    display: none;
    /* background: #F4FAFE; */
    background: var(--bg-color);
    z-index: 2;
}
  
#sidemenu ul li{
    list-style: none;
}

.sideline ul li a{
    text-decoration: none;
    margin: 16px 0px;
    display: block;
    color: var(--text-color);
}

.sideline ul li a:hover{
    color: blue;
    background: #D9EDFF;
    display: block;
    width: 80%;
}

#sidemenu img{ 
    position: absolute;
    width: 140.13px;
    height: 44.59px;
    top: 22px;
    left: 45.31px;
    padding: 0px, 0px, 0px, 0px;
    color: aqua;
}
  
#sidemenu h2{
    position: absolute;
    font-size: 20px;
    top: 100px;
    left: 35px;
    color: gray;
    font-weight: bold;
  }
  
.sidebar{
    height: 100vh;
    transition: width 0.3s linear ;
    background: #D9EDFF;
    width: 50px;
}